<div class="container">
    <h1>Calculadore de descuento</h1>
    <form (ngSubmit)="calcularDescuento()">
        <label for="cantidad">Cantidad:</label>
        <input id="cantidad" type="number" [(ngModel)]="compra.cantidad" name="cantidad" required>

        <label for="precio">Price for unit:</label>
        <input id="precio" type="number" [(ngModel)]="compra.precio" name="precio" required>
        <button type="button" (click)="calcularDescuento()">Calcular</button>
    </form>

    <div *ngIf="compra.total > 0">
        <p>total antes del descuento: {{compra.total | currency}}</p>
        <p *ngIf="compra.descuentoAplicado">descuento aplicado 20%</p>
        <p>Total final: {{compra.totalFinal | currency}}</p>
    </div>
</div>